# Gradle
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Memory Dumps & Profiler
*.hprof

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Secrets & Local Configs
*.env
application-local.yml
firebase-service-account.json
